:root {
    --grid-columns: 12;
    --gutter-width: 1vw;
	--page-padding: 2vw;
    --column-width: calc((100vw - (var(--page-padding) * 2) - (var(--gutter-width) * (var(--grid-columns) - 1))) / var(--grid-columns));
    --grid-color: rgba(255, 255, 255, 0.03);
    --grid-line-color: rgba(255, 255, 255, 0.05);

	--prim-text-color: rgb(200, 200, 200);
	--sec-text-color: rgb(150, 150, 150);
	--ter-text-color: rgb(90, 90, 90);

	--black: rgb(5, 5, 5);
}

h1 {
	font-family: "Inter", sans-serif;
  	font-weight: 500;
  	font-style: normal;
	font-size: clamp(3rem, 8vw, 7rem);
  	line-height: 0.9;
}

* {
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}

body {
  	background: rgb(5, 5, 5);
  	color: var(--prim-text-color);
  	padding: 0;
  	font-family: "Inter", sans-serif;
  	line-height: 1.6;
	position: relative;
}

.grid-overlay {
    position: fixed;
    top: 0;
    left: 0;
	width: 100%;
    height: 100%;
    pointer-events: none; /* Allows clicking through */
    z-index: 9998;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--gutter-width);
    padding: 0 var(--page-padding); /* Side margins */
    opacity: 0.8; /* Adjust visibility */
}

.grid-column {
    /* background-color: var(--grid-color); */
    border-left: 1.5px dashed var(--grid-line-color);
    border-right: 1.5px dashed var(--grid-line-color);
    height: 100%;
}

.grid-spacer {
	grid-column: span 1;
}








/* Header */
.header {
	height: 7vh;
  	padding: 2vh var(--page-padding) 3vh;
	position: sticky;
}

.header-grid {
	display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--gutter-width);
    align-items: start;
}

.nav-brand {
	grid-column: span 8;
}

.nav-links {
	grid-column: span 2;
}

.nav-link {
	font-family: "Space Mono", monospace;
  	font-weight: 400;
  	font-size: 0.7rem;
  	color: var(--prim-text-color);
	text-decoration: none;
	transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
  	color: #000000;
  	background: var(--prim-text-color);
}
/* Header */


/* Main */
.main {
  	padding: 2vh 2vw;
}
/* Main */


/* Footer */
.footer {
	height: 6vh;
  	padding: 2vh 2vw;
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: 0.7rem;
	color: rgb(85, 85, 85);
}

.footer-grid {
	display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--gutter-width);
    align-items: start;
}

.footer-grid p:first-child {
	grid-column: span 8;
}

.footer-grid p:last-child {
	grid-column: span 4;
}
/* Footer */



/* index.html */
.hero-section {
	height: 50vh;
	display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--gutter-width);
    align-items: flex-end;
	padding-bottom: 10vh;
}

.hero-name {
	grid-column: span 8;
}

.hero-info {
	grid-column: span 4;
  	display: flex;
  	flex-direction: column;
  	gap: 0.5rem;
}

.hero-desc {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: clamp(0.9rem, 2vw, 1.1rem);
  	line-height: 1;
  	color: var(--prim-text-color);
}

/* Typing cursor */
#typing-text::after {
  	content: "|";
  	margin-left: 4px;
  	animation: blink 1s infinite;
}

@keyframes blink {
  	50% { opacity: 0; }
}

/* .projects-section {
	height: 33vh;
} */

.projects {
	display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--gutter-width);

    align-items: flex-end;
	height: 33vh;
}

.project-card {
	grid-column: span 3;
  	text-decoration: none;
  	color: inherit;
  	transition: transform 0.3s ease, box-shadow 0.3s ease;
  	/* border-radius: 12px; */
  	overflow: hidden;
  	/* background: rgba(255,255,255,0.02); */
  	/* border: 1px solid rgba(255,255,255,0.05); */
}

.project-card:hover {
  	transform: translateY(-4px);
  	box-shadow: 0 8px 25px rgba(255,255,255,0.1);
}

.project-card img {
	/* width: auto; */
	width: 100%;
	aspect-ratio: 16/9;
	/* height: auto; */
	object-fit: cover;
	border-radius: 8px;
	background: #255;
}

.project-card-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 1.5rem; */
	font-family: "Space Mono", monospace;
	font-size: 0.7rem;
	font-weight: 400;
	color: var(--sec-text-color);
}
/* index.html */






/* about.html */
.about-section {
	display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--gutter-width);
    align-items: start;
	height: 83vh;
}


.bio-column {
	grid-column: span 8;
	height: 83vh;
	padding-right: calc(3 * (var(--column-width) + var(--gutter-width)));
	padding-bottom: 2vh;

	display: flex;
  	flex-direction: column;
	justify-content: space-between;
}

.bio-intro {
	display: flex;
  	flex-direction: column;
  	gap: 1rem;
	font-family: "Inter", sans-serif;
  	font-weight: 500;
  	font-size: 1.7rem;
  	line-height: 1.3;
  	color: var(--prim-text-color);
}



.profile-column {
	grid-column: span 4;
	height: 83vh;
	padding-bottom: 2vh;

	display: flex;
  	flex-direction: column;
	justify-content: space-between;
}

.profile-pic {
  	width: 100%;
  	aspect-ratio: 1/1;
  	object-fit: cover;
}

.contact-grid {
	display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gutter-width);
    align-items: start;
}

.contact-card {
	grid-column: span 2;
	height: 7vh;

	display: flex;
	flex-direction: column;
	justify-content: end;
}

.contact-link {
	text-decoration: none;
	align-self: flex-start;
}

.email-link {
	cursor: pointer;
}

.contact-title {
  	font-family: "Inter", sans-serif;
  	font-weight: 500;
  	font-size: 1.3rem;
	line-height: 1;
	color: var(--prim-text-color);
	transition: color 0.3s ease, background-color 0.3s ease;
	display: inline-block
}

.contact-link:hover .contact-title {
  	color: #000000;
  	background: var(--prim-text-color);
}

.contact-notes {
  	font-family: "Space Mono", monospace;
  	font-weight: 400;
  	font-size: 0.9rem;
  	color: var(--sec-text-color);
}
/* about.html */




/* archive.html */




/* archive.html */





/* project.html */
.project1 {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	gap: var(--gutter-width);
	align-items: start;
	position: fixed;
	margin-right: 2vw;
}

.project2 {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	gap: var(--gutter-width);
	align-items: start;
}

.project-info {
	grid-column: span 4;
	height: 83vh;
	/* padding-right: calc(3 * (var(--column-width) + var(--gutter-width))); */
	padding-bottom: 2vh;
	position: sticky;


	display: flex;
  	flex-direction: column;
	justify-content: space-between;

}

.project-title h1 {
	height: 23vh;
	font-size: clamp(3rem, 8vw, 4rem);
}

.project-desc {
	height: 45vh;
	display: flex;
  	flex-direction: column;
	justify-content: space-between;
}

.project-credits {
	font-family: "Space Mono", monospace;
  	font-weight: 400;
  	font-size: 0.7rem;
  	color: var(--prim-text-color);
}

.project-credits ul {
    list-style: none;
    /* padding: 0;
    margin: 0; */
}

.project-credits li {
    margin-bottom: 1.7rem;
}

.project-credits a {
	display: inline-block;
	color: var(--prim-text-color);
	text-decoration: none;
	transition: color 0.3s ease, background-color 0.3s ease;
}

.project-credits a:hover {
	color: #000000;
	background: var(--prim-text-color);
}

.credit-label {
    display: inline-block;
    width: calc(var(--column-width) + var(--gutter-width));
    font-weight: 400;
	color: var(--sec-text-color);
	/* background: #915; */
}

.project-intro {
	font-family: "Inter", sans-serif;
  	font-weight: 500;
  	font-size: 1.7rem;
  	line-height: 1.3;
  	color: #eaeaea;
	/* background: #179; */
}

.project-docs {
	grid-column: span 8;
	font-family: "Inter", sans-serif;
  	font-weight: 400;
  	font-size: 1rem;
  	line-height: 1.6;
  	color: #b0b0b0;
	background: #171;
}

.doc-section {
	margin-bottom: 4rem;
}

.doc-section img {
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
	border-radius: 8px;
}

.doc-section h2 {
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: #eaeaea;
}

.doc-section p {
	margin-bottom: 1rem;
}
/* project.html */






	
/* Responsive Design */
@media (max-width: 768px) {
   .header {
      padding: 1.5rem 2rem;
   }

   .header-grid {
      grid-template-columns: 1fr;
      gap: 1rem;
   }

   .nav-links {
      justify-content: center;
   }

   .main {
      padding: 2rem;
   }

   .info-grid {
      grid-template-columns: 1fr;
      gap: 1rem;
   }

   .contact-grid {
      grid-template-columns: 1fr;
      justify-items: center;
   }

   .hero-grid {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 1rem;
      min-height: auto;
      margin-bottom: 4rem;
   }

   .hero-info {
      align-items: center;
      text-align: center;
   }

   .projects {
      grid-template-columns: 1fr;
      gap: 1.5rem;
   }

   .footer {
      padding: 2rem;
   }

   .footer-grid {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
   }

   .footer-grid p:last-child {
      text-align: center;
   }
}