:root {
	--grid-columns: 12;

	--page-width: 100dvw;
	--gutter-width: calc(var(--page-width) * 0.01);
	--page-padding: calc(var(--page-width) * 0.02);
	--column-width: calc(
		(
			var(--page-width)
			- (2 * var(--page-padding))
			- (var(--gutter-width) * (var(--grid-columns) - 1 ))
		) / var(--grid-columns)
	);

	--page-width100: 100%;
	--gutter-width100: calc(var(--page-width100) * 0.01);
	--page-padding100: calc(var(--page-width100) * 0.02);
	--column-width100: calc(
		(
			var(--page-width100)
			- (2 * var(--page-padding100))
			- (var(--gutter-width100) * (var(--grid-columns) - 1 ))
		) / var(--grid-columns)
	);

	--color-black: rgb(5, 5, 5);
	--color-white: rgb(230, 230, 230);

	--grid-color: rgba(255, 255, 255, 0.03);
	--grid-line-color: rgba(255, 255, 255, 0.04);

	--color-prim-text: rgb(200, 200, 200);
	--color-sec-text: rgb(150, 150, 150);
	--color-ter-text: rgb(90, 90, 90);

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}




h1 {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: clamp(3rem, 8vw, 6.7rem);
	line-height: 0.9;
}





body {
	background: var(--color-black);

	color: var(--color-prim-text);
	font-family: "Inter", sans-serif;
	line-height: 1.6;
	position: relative;
}

.grid-overlay {
	position: fixed;
	z-index: -2;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	padding: 0 var(--page-padding);

	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	gap: var(--gutter-width);

	pointer-events: none;
	opacity: 0.8;
}

.grid-overlay,
.grid-overlay * {
	box-sizing: border-box;
}

.grid-column {
	height: 100%;

	border-left: 2px dashed var(--grid-line-color);
	border-right: 2px dashed var(--grid-line-color);
}



/* header */
.header {
	position: fixed;

	width: 100%;
	height: 7dvh;
	padding: 2dvh var(--page-padding) 3dvh;
}

.header a {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: 0.7rem;
	color: var(--color-prim-text);

	text-decoration: none;
	transition: color 0.3s ease, background-color 0.3s ease;
}

.header a:hover {
	background: var(--color-prim-text);

	color: var(--color-black);
}

.header-grid {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	column-gap: var(--gutter-width);
	align-items: start;
}

.nav-brand {
	grid-column: span 8;
}

.nav-links {
	grid-column: span 2;
}
/* header */



/* main */
.main {
	padding: 9dvh var(--page-padding) 2dvh;
}
/* main */



/* footer */
.footer {
	width: 100%;
	height: 6dvh;
	padding: 2dvh var(--page-padding);

	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: 0.7rem;
	color: rgb(85, 85, 85);
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	gap: var(--gutter-width);

	align-items: start;
}

.footer-grid p:first-child {
	grid-column: span 8;
}

.footer-grid p:last-child {
	grid-column: span 4;
}
/* footer */





/* index.html */
.hero-section {
	height: 50dvh;
	padding-bottom: 10dvh;

	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	gap: var(--gutter-width);

	align-items: flex-end;
}

.hero-name {
	grid-column: span 8;
}

.hero-info {
	grid-column: span 4;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: clamp(0.9rem, 2vw, 1.1rem);
	line-height: 1;
	color: var(--color-prim-text);
}

#typing-text::after {
	content: "|";
	margin-left: 4px;
	animation: blink 1s infinite;
}

@keyframes blink {
	50% { opacity: 0; }
}

.projects-section {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	column-gap: var(--gutter-width);
	height: 33dvh;

	align-items: flex-end;
}

.project-card {
	grid-column: span 3;
	text-decoration: none;
}

.project-card img {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: 8px;
	transition: filter 0.3s ease, aspect-ratio 0.3s ease;
}

.project-card.blurred img {
	filter: blur(3px);
	aspect-ratio: 16/6;
}

.project-card-info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-family: "Space Mono", monospace;
	font-size: 0.7rem;
	font-weight: 400;
	color: var(--color-sec-text);
}
/* index.html */





/* about.html */
.about-section {
	height: 83dvh;

	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	gap: var(--gutter-width);
	align-items: start;
}

.bio-column {
	grid-column: span 5;
	height: 83dvh;
	padding-bottom: 2dvh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bio-intro {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 1.3;
	color: var(--color-prim-text);
}

.profile-column {
	grid-column: 9 / span 4;
	height: 83dvh;
	padding-bottom: 2dvh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.profile-pic {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.contact-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: var(--gutter-width);
	align-items: start;
}

.contact-card {
	grid-column: span 2;
	height: 7dvh;

	display: flex;
	flex-direction: column;
	justify-content: end;
}

.contact-link {
	text-decoration: none;
	align-self: flex-start;
}

.email-link {
	cursor: pointer;
}

.contact-title {
	display: inline-block;

	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1;
	color: var(--color-prim-text);
	transition: color 0.3s ease, background-color 0.3s ease;
}

.contact-link:hover .contact-title {
	color: var(--color-black);
	background: var(--color-prim-text);
}

.contact-notes {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: 0.7rem;
	color: var(--color-sec-text);
}
/* about.html */





/* archive.html */
.archive-title{
	width: 100%;
	height: 100dvh;
	align-items: start;
	position: fixed;
	z-index: -1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.archive-title h1 {
	color: var(--color-ter-text);
}

.archive-title p {
	margin-top: 1rem;
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: 0.7rem;
	color: var(--color-ter-text);
}

.archive-section {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	gap: var(--gutter-width);


	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.archive-card-left {
	grid-column: 3 / span 5;
	text-decoration: none;
	margin-top: 100dvh;
}

.archive-card-midleft {
	grid-column: 4 / span 5;
	text-decoration: none;
	margin-top: 100dvh;
}

.archive-card-midright {
	grid-column: 5 / span 5;
	text-decoration: none;
	margin-top: 100dvh;
}

.archive-card-right {
	grid-column: 6 / span 5;
	text-decoration: none;
	margin-top: 100dvh;
}

.archive-card-bottom {
	margin-bottom: 30dvh;
}

.archive-card img {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: 8px;
}

.archive-card-info {
	display: flex;
	justify-content: end;
	align-items: center;
	font-family: "Space Mono", monospace;
	font-size: 0.7rem;
	font-weight: 400;
	color: var(--color-prim-text);
}
/* archive.html */


/* project.html */
.project1 {
	position: fixed;

	width: calc(4 * var(--column-width100) + 3 * var(--gutter-width100));
	margin-right: var(--page-padding);
}

.project-info {
	height: 83dvh;
	padding-bottom: 2dvh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-title h1 {
	height: 23dvh;
	font-size: clamp(3rem, 8vw, 4rem);
}

.project-desc {
	height: 45dvh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-credits {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: 0.7rem;
	color: var(--color-prim-text);
}

.project-credits ul {
	list-style: none;
}

.project-credits li {
	margin-bottom: 1.7rem;
}

.project-credits a {
	display: inline-block;
	color: var(--color-prim-text);
	text-decoration: none;
	transition: color 0.3s ease, background-color 0.3s ease;
}

.project-credits a:hover {
	color: var(--color-black);
	background: var(--color-prim-text);
}

.credit-label {
	display: inline-block;
	width: calc(var(--column-width) + var(--gutter-width));
	font-weight: 400;
	color: var(--color-sec-text);
}

.project-intro {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 1.3;
	color: var(--color-prim-text);
}

.project2 {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	gap: var(--gutter-width);
	align-items: start;
}

.project-docs {
	grid-column: 5 / span 8;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 1.3;
	color: var(--color-prim-text);
}

.doc-section {
	margin-bottom: 30dvh;
}

.doc-section h2 {
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 1.7rem;
	margin-bottom: 2rem;
	color: var(--color-prim-text);
}

.doc-section figure {
	margin-top: 1.9rem;
}

.doc-section img,
.doc-section video {
	width: 100%;
	aspect-ratio: 16/9;
	border-radius: 10px;
	object-fit: cover;
}

.doc-desc-section {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: var(--gutter-width);
	margin-top: 1.3rem;

	align-items: start;
}

.doc-desc {
	grid-column: 3 / span 6;

	display: grid;
	gap: 1.3rem;
}

.doc-desc-list {
	grid-column: 3 / span 6;

	display: grid;
	gap: 1.9rem;
}

.doc-list {
	display: grid;
	gap: 0.5rem;
}

.doc-list ul {
	display: grid;
	padding-left: 2dvw;
	gap: 0.5rem;
}
/* project.html */