::-webkit-scrollbar {
    display: none;
}

:root {
    --grid-columns: 12;

    --page-width: 100dvw;
    --gutter-width: calc(var(--page-width) * 0.01);
    --page-padding: calc(var(--page-width) * 0.02);
    --column-width: calc(
        (
            var(--page-width)
            - (2 * var(--page-padding))
            - (var(--gutter-width) * (var(--grid-columns) - 1 ))
        ) / var(--grid-columns)
    );

    --page-width100: 100%;
    --gutter-width100: calc(var(--page-width100) * 0.01);
    --page-padding100: calc(var(--page-width100) * 0.02);
    --column-width100: calc(
        (
            var(--page-width100)
            - (2 * var(--page-padding100))
            - (var(--gutter-width100) * (var(--grid-columns) - 1 ))
        ) / var(--grid-columns)
    );

    --color-black: rgb(5, 5, 5);
    --color-white: rgb(230, 230, 230);

    --grid-color: rgba(255, 255, 255, 0.03);
    --grid-line-color: rgba(255, 255, 255, 0.03);

    --color-prim-text: rgb(200, 200, 200);
    --color-sec-text: rgb(150, 150, 150);
    --color-ter-text: rgb(90, 90, 90);
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    column-gap: var(--gutter-width);

    align-items: start;
}




body {
    position: relative;
    background: var(--color-black);
}

.grid-overlay {
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 0 var(--page-padding);

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--gutter-width);

    pointer-events: none;
}

.grid-overlay,
.grid-overlay * {
	box-sizing: border-box;
}

.grid-column {
	height: 100%;

	border-left: 2px dashed var(--grid-line-color);
	border-right: 2px dashed var(--grid-line-color);
}



/* header */
.header {
	position: fixed;
    z-index: 9999;

	width: 100%;
	height: 7dvh;
	padding: 2dvh var(--page-padding) 3dvh;
	isolation: isolate;
}

.nav-left {
	grid-column: 1 / span 1;
}

.nav-right {
	grid-column: 9 / span 3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: var(--gutter-width);
	align-items: start;
}
/* header */



/* main */
.main {
	padding: 9dvh var(--page-padding) 2dvh;
}
/* main */



/* footer */
.footer {
	width: 100%;
	height: 6dvh;
	padding: 2dvh var(--page-padding);
}

.footer-archive {
	top: 94dvh;
	position: fixed;
	z-index: -1;
}

.footer-year {
	grid-column: 1 / span 1;
}

.footer-dev {
	grid-column: 9 / span 4;
}
/* footer */





/* index.html */
.hero-section {
	height: 50dvh;
	padding-bottom: 10dvh;

	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	gap: var(--gutter-width);

	align-items: flex-end;
}

.hero-name {
	grid-column: 1 / span 7;
}

.hero-info {
	grid-column: 9 / span 4;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: clamp(0.9rem, 2vw, 1.1rem);
	line-height: 1;
	color: var(--color-prim-text);
}

#typing-text::after {
	content: "|";
	margin-left: 4px;
	animation: blink 1s infinite;
}

@keyframes blink {
	50% { opacity: 0; }
}

.projects-section {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	column-gap: var(--gutter-width);
	height: 33dvh;

	align-items: flex-end;
}

.project-card {
	grid-column: span 3;
	display: grid;
	gap: 5px;
	cursor: pointer;
}

.project-card img {
	aspect-ratio: 16/9;
	transition: filter 0.3s ease, aspect-ratio 0.3s ease;
}

.project-card.blurred img {
	filter: blur(3px);
	aspect-ratio: 16/6;
}

.project-card-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* index.html */





/* about.html */
.about-section {
	height: 83dvh;
}

.bio-column {
	grid-column: span 5;
	height: 100%;
	padding-bottom: 2dvh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bio {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.profile-column {
	grid-column: 9 / span 4;
	height: 100%;
	padding-bottom: 2dvh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.profile-pic {
	aspect-ratio: 1/1;
	border-radius: 0px;
}

.contact-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: var(--gutter-width);
	align-items: start;
}

.contact-card {
    grid-column: span 1;
	height: 7dvh;

	display: flex;
	flex-direction: column;
	justify-content: end;
}

.contact-link {
	text-decoration: none;
	align-self: flex-start;
}

.email-link {
	cursor: pointer;
}

.contact-title {
	display: inline-block;

	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1;
	color: var(--color-prim-text);
	transition: color 0.3s ease, background-color 0.3s ease;
}

.contact-link:hover .contact-title {
	color: var(--color-black);
	background: var(--color-prim-text);
}
/* about.html */





/* archive.html */
.archive-title{
	width: 100%;
	height: 100dvh;
	align-items: start;
	position: fixed;
	z-index: -1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

.archive-title h1 {
	color: var(--color-ter-text);
}

.archive-section {
	row-gap: 100dvh;
}

.archive-card {
	display: grid;
	gap: 5px;
	cursor: pointer;
}

.archive-card-top {
	margin-top: 100dvh;

}

.archive-card-bottom {
	margin-bottom: 30dvh;
}

.archive-card-left {
	grid-column: 3 / span 5;
}

.archive-card-midleft {
	grid-column: 4 / span 5;
}

.archive-card-midright {
	grid-column: 5 / span 5;
}

.archive-card-right {
	grid-column: 6 / span 5;
}

.archive-card img {
	aspect-ratio: 16/9;
}

.archive-card-info {
	display: flex;
	justify-content: end;
	align-items: center;
}
/* archive.html */



/* project.html */
.project-overlay {
	position: fixed;
    top: 100dvh;

	width: 100dvw;
	height: 100dvh;

	background: var(--color-black);
	transition:0.2s ease;
	overflow-y:auto;
    scrollbar-width: none;
}

.project-overlay::-webkit-scrollbar {
  display: none;
}

.project-overlay.active {
    top: 0dvh;
}

.project-overlay-content {
	padding: 9dvh var(--page-padding) 2dvh;
}

.project1 {
	position: fixed;

	width: calc(4 * var(--column-width100) + 3 * var(--gutter-width100));
}

.project-info {
	height: 83dvh;
	padding-bottom: 2dvh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-desc {
	height: 45dvh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-credits ul {
	list-style: none;
}

.project-credits li {
	margin-bottom: 1.7rem;
}

.credit-label {
	display: inline-block;
	width: calc(var(--column-width) + var(--gutter-width));
}

.project-docs {
	grid-column: 6 / span 7;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 1.3;
	color: var(--color-prim-text);
}

.doc-section {
	margin-bottom: 30dvh;
}

.doc-section h2 {
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 1.7rem;
	margin-bottom: 2rem;
	color: var(--color-prim-text);
}

.doc-section figure {
	margin-top: 1.9rem;
}

.doc-section img,
.doc-section video {
	aspect-ratio: 16/9;
}

.doc-desc-section {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	column-gap: var(--gutter-width);
	margin-top: 1.3rem;

	align-items: start;
}

.doc-desc {
	grid-column: 3 / span 5;

	display: grid;
	gap: 1.3rem;
}

.doc-desc-list {
	grid-column: 3 / span 5;

	display: grid;
	gap: 1.9rem;
}

.doc-list {
	display: grid;
	gap: 0.5rem;
}

.doc-list ul {
	display: grid;
	padding-left: 2dvw;
	gap: 0.5rem;
}
/* project.html */